<%- include('partials/head') %> <%- include('partials/header') %>
<div>
  <h1>Home</h1>
  <h2>Hi <%= name %></h2>
  <p>You have a registered account, and you are logged in, Congratulations 😎</p>
  <p>Made with: Node / Express / Express Session / Passport etc.</p>
  <!-- this ?_method=DELETE is specific to method-override to understand what Method we want -->
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>
<%- include('partials/footer') %>
